<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KundeApplication.Properties.Settings.Saanneeha_dk_db_databaseConnectionString"
            connectionString="Data Source=mssql5.unoeuro.com;Initial Catalog=Saanneeha_dk_db_database;Persist Security Info=True;User ID=saanneeha_dk;Password=yx5chmEw6HtDg2efarF9"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>